<div class="center-container">
  <div class="edit-profile-container">
    <div class="edit-profile-form-wrapper">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-group">
          <% f.label :email, "Email:", class: "input-label" %>
          <%= f.input :email, required: true, autofocus: true, class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <div class="form-group">
          <% f.label :first_name, "First Name:", class: "input-label" %>
          <%= f.input :first_name, required: true, autofocus: true, input_html: { autocomplete: "first_name", class: "form-control" } %>
        </div>
        <div class="form-group">
          <% f.label :last_name, "Last Name:", class: "input-label" %>
          <%= f.input :last_name, required: true, autofocus: true, input_html: { autocomplete: "last_name", class: "form-control" } %>
        </div>
        <div class="form-group">
          <% f.label :password, "Password:", class: "input-label" %>
          <%= f.input :password, hint: "leave it blank if you don't want to change it", required: false, input_html: { autocomplete: "new-password", class: "form-control" } %>
        </div>
        <div class="form-group">
          <% f.label :password_confirmation, "Confirm Password:", class: "input-label" %>
          <%= f.input :password_confirmation, required: false, input_html: { autocomplete: "new-password", class: "form-control" } %>
        </div>
        <div class="form-group">
          <% f.label :current_password, "Current Password:", class: "input-label" %>
          <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, input_html: { autocomplete: "current-password", class: "form-control" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>

      <p>Cancel my account</p>

      <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
