<div class="container">
<h2 class="headline">Has your password wandered off on a merry adventure? No worries! Retrieve it here and let the magic of access begin anew!</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
  </div>

  <div class="form-actions">
    <%= f.submit "Reset my password", class: "custom-button-update"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
