<!-- _footer.html.erb -->
<div id="page-container">
  <footer>
    <div class="footer">
      <nav>
        <ul class="footer-links">
          <li><%= link_to "Nap Navigation", "#" %></li>
          <li>|</li>
          <li><%= link_to "Fluffy FAQs", "#" %></li>
          <li>|</li>
          <li><%= link_to "Pillow Talk", "#" %></li>
          <li>|</li>
          <li><%= link_to "Whimsical Weather", "#" %></li>
          <li>|</li>
          <li><%= link_to "Snoozeletter Signup", "#" %></li>
        </ul>
      </nav>
    </div>
  </footer>
</div>
