<nav class="navbar navbar-expand-lg bg-light">
  <div class="container">
    <!-- Updated logo and text alignment -->
    <a href="<%= clouds_path %>" class="brand-logo d-flex align-items-center">
      <%= image_tag("logo.svg", alt: "Cloud Odyssey", height: "35") %>
      <h5 class="mb-0 ml-2">cloud odyseey</h5> <!-- Ensure margin for alignment -->
    </a>

    <!-- Adjusted for flexbox and custom spacing -->
    <div class="navbar-content ml-auto d-flex flex-row">
      <a href="<%= new_cloud_path %>" >
        <%= image_tag("add_cloud.svg", alt: "Add", height: "35") %>
      </a>
      <a href="<%= profile_path %>" >
        <%= image_tag("profile.svg", alt: "Profile", height: "35") %>
      </a>
      <a href="<%= destroy_user_session_path %>" class="dropdown-item" data-turbo-method="delete">
        <%= image_tag("logout.svg", alt: "Logout", height: "35") %>
      </a>
    </div>
  </div>
</nav>
