<div class="container">
  <h2 class="headline"><%= time_based_greeting %> <%= @user.first_name %>!</h2>

  <p id="edit"><%= image_tag("edit.svg", alt: "edit", height: "20px") %><%= link_to "  Edit your profile", edit_user_registration_path %></p>
  <br>
  <br>
  <h4 class="headline-profile">The clouds you've reserved, floating in your slice of the sky.</h4>
  <%= render "bookings/currentbookings", bookings: @bookings %>
  <br>
  <br>
  <h4 class="headline-profile">Glimpse the clouds you've spotted and kindly offered.</h4>
  <%= render partial: 'clouds/offeredclouds', collection: @clouds, as: :cloud, locals: { clouds: @my_clouds } %>
  <br>
  <br>
  <h4 class="headline-profile">Here you'll find booking requests for the clouds you offered</h4>
  <%= render "bookings/pendingbooking", pending_bookings: @pending_bookings %>
</div>