<div id="<%= dom_id(cloud) %>" class="cloud-details">
  <div class="cloud-header">
    <div class="hero-image" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= cloud.picture_url %>');">
      <div class="hero-content">
        <h2><%= cloud.name %></h2>
      </div>
    </div>
  </div>

  <div class="cloud-info">
    <div class="card"><strong>Description:</strong> <%= cloud.description %></div>
    <div class="card"><strong>Address:</strong> <%= cloud.address %></div>
    <div class="card"><strong>Availability</strong> <%= cloud.available_from %> <%= cloud.available_until %></div>


<%= link_to "Check availability", clouds_path, class: "button availability-button" %>

  </div>
</div>



