<div id="<%= dom_id(cloud) %>" class="cloud-details">
  <div class="container">
            <h2 class="headline"><%= cloud.name %></h2>
    <div class="hero-image" style="background-image: url('<%= cloud.picture_url %>');">

      </div>
        <div class="cloud-info">
    <div class="show-card"> <%= cloud.description %></div>
    </div>
        <div class="show-address"><%= image_tag("address.svg", alt: "Cloud Odyssey", height: "35") %> Set your compass to <strong><%= cloud.address %></strong></div>
    <div class="show-address"><%= image_tag("calender.svg", alt: "Cloud Odyssey", height: "35") %> The cloud graces the sky from <strong><%= cloud.available_from %></strong> until its farewell on <strong><%= cloud.available_until %></strong></div>

        <%# <iframe id="map" frameborder="0" style="border:0" src="https://www.openstreetmap.org/export/embed.html?bbox=#{longitude}%2#{latitude}&amp;layer=mapnik" allowfullscreen></iframe> %>
        <%# <iframe id="map" frameborder="0" style="border:0" src="https://www.openstreetmap.org/export/embed.html?bbox=13.3650541305542%2C52.505355813519515%2C13.4449462890625%2C52.534645355428516&amp;layer=mapnik" allowfullscreen></iframe> %>
        <iframe id="map" frameborder="0" style="border:0" src=<%="https://www.openstreetmap.org/export/embed.html?bbox=#{cloud.longitude}%2C#{cloud.latitude}%2C#{cloud.longitude}%2C#{cloud.latitude}&amp;layer=mapnik"%> allowfullscreen></iframe>



  </div>
  </div>
</div>



