<div id="<%= dom_id(cloud) %>" class="cloud-details">
  <div class="container">
            <h2 class="headline"><%= cloud.name %></h2>
    <div class="hero-image" style="background-image: url('<%= cloud.picture_url %>');">


      </div>
        <div class="cloud-info">
    <div class="show-card"> <%= cloud.description %></div>
    </div>
        <div class="show-address"><%= image_tag("address.svg", alt: "Cloud Odyssey", height: "35") %> <%= cloud.address %></div>
  </div>

  </div>
</div>
