
<ul>
<li><%= link_to @cloud.name %></li>

<li><%= link_to @cloud.category %></li>
<li><%= link_to @cloud.description %></li>
<li><%= link_to @cloud.available_from %></li>
<li><%= link_to @cloud.available_until %></li>
</ul>

<%= link_to "Delete",
  cloud_path(@cloud),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this cloud?"}
%>

<%= link_to "Back home", clouds_path %>
